services:
    _defaults:
        autowire: true
        autoconfigure: true

    # RENDERERS

    Pimcore\Templating\Renderer\ActionRenderer:
        arguments:
            $httpKernelRuntime: "@twig.runtime.httpkernel"

    Pimcore\Templating\Renderer\IncludeRenderer: ~

    Pimcore\Templating\Renderer\EditableRenderer:
        public: true
        arguments:
            $editableLoader: '@Pimcore\Model\Document\Editable\Loader\EditableLoader'
        calls:
            - [setLogger, ["@logger"]]

    # NAVIGATION

    # renderer locator collecting all registered renderers
    pimcore.templating.navigation.renderer_locator:
        class: Symfony\Component\DependencyInjection\ServiceLocator
        tags: ["container.service_locator"]
        arguments: [[]]

    Pimcore\Navigation\Builder: ~

    Pimcore\Navigation\Renderer\Menu:
        arguments:
            $templatingEngine: "@pimcore.templating.engine.delegating"
        tags:
            - { name: pimcore.navigation.renderer, alias: menu }

    Pimcore\Navigation\Renderer\Breadcrumbs:
        arguments:
            $templatingEngine: "@pimcore.templating.engine.delegating"
        tags:
            - { name: pimcore.navigation.renderer, alias: breadcrumbs }

    Symfony\Component\Templating\EngineInterface:
        alias: pimcore.templating.engine.delegating
        deprecated:
            package: "pimcore/pimcore"
            version: "12.3"
            message: 'The "%alias_id%" service is deprecated and will be removed in 13.0. Use Twig\Environment directly instead.'

    pimcore.templating.engine.delegating:
        public: true
        class: Pimcore\Templating\TwigDefaultDelegatingEngine
        deprecated:
            package: "pimcore/pimcore"
            version: "12.3"
            message: 'The "%service_id%" service is deprecated and will be removed in 13.0. Inject Twig\Environment directly instead.'
