name: "Codeception Tests centralised 11.x"

on:
    workflow_dispatch:
    pull_request_target:
        types: [opened, synchronize, reopened]
        branches:
            - "11.*"
        paths-ignore:
            - 'doc/**'
            - 'bundles/**/public/**'
    push:
        branches:
            - "11.*"
        paths-ignore:
            - 'doc/**'
            - 'bundles/**/public/**'
permissions:
  contents: read
jobs:
    codeception-tests:
        uses: pimcore/workflows-collection-public/.github/workflows/reusable-codeception-public.yaml@main
        strategy:
            matrix:
                include:
                    - { php-version: 8.3, database: "mariadb:11.2", dependencies: highest, experimental: false, storage: local, symfony: "", composer-options: "" }
                    - { php-version: 8.3, database: "mariadb:10.3", dependencies: lowest, experimental: false, storage: local, symfony: "", composer-options: "" }
                    - { php-version: 8.2, database: "mariadb:10.5", dependencies: highest, experimental: false, storage: local, symfony: "", composer-options: "" }
                    - { php-version: 8.2, database: "mariadb:10.11", dependencies: highest, experimental: false, storage: local, symfony: "", composer-options: "" }
                    - { php-version: 8.2, database: "mariadb:10.11", dependencies: highest, experimental: true, storage: local, symfony: "6.4.x-dev", composer-options: "" }
                    - { php-version: 8.1, database: "mariadb:10.7", dependencies: highest, experimental: false, storage: local, symfony: "", composer-options: "" }
                    - { php-version: 8.1, database: "mysql:8.0", dependencies: lowest, experimental: false, storage: local, symfony: "", composer-options: "" }
                    - { php-version: 8.1, database: "percona:8.0", dependencies: lowest, experimental: false, storage: minio, symfony: "", composer-options: "" }
        with:
            php-version: ${{ matrix.php-version }}
            database: ${{ matrix.database }}
            dependencies: ${{ matrix.dependencies }}
            experimental: ${{ matrix.experimental }}
            storage: ${{ matrix.storage }}
            symfony: ${{ matrix.symfony }}
            composer-options: ${{ matrix.composer-options }}
            repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
            PIMCORE_PROJECT_ROOT: ${{ github.workspace }}
            APP_ENV: "test"
            PIMCORE_TEST: 1
            PIMCORE_TEST_DB_DSN: "mysql://root@127.0.0.1:33006/pimcore_test"
            PIMCORE_TEST_REDIS_DSN: "redis://127.0.0.1:63379"
            MINIO_ACCESS_KEY: "PIMCORE_OBJECT_STORAGE_ACCESS_KEY"
            MINIO_SECRET_KEY: "PIMCORE_OBJECT_STORAGE_SECRET_KEY"
            BRANCH_NAME: ${{ github.head_ref || github.ref }}
        secrets:
            PIMCORE_INSTANCE_IDENTIFIER: ${{ secrets.PIMCORE_CI_INSTANCE_IDENTIFIER }}
            PIMCORE_ENCRYPTION_SECRET: ${{ secrets.PIMCORE_CI_ENCRYPTION_SECRET }}
            PIMCORE_PRODUCT_KEY: ${{ secrets.PIMCORE_CI_PRODUCT_KEY }}